<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- Bei der Bereitstellung des Dienstbibliothekprojekts muss der Inhalt der Konfigurationsdatei der app.config-Datei 
  des Hosts hinzugefügt werden. System.Configuration unterstützt keine Konfigurationsdateien für Bibliotheken. -->
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="HttpsBindung" />
      </basicHttpsBinding>
    </bindings>
    <services>
      <service name="WcfTestLib.CallingPatterns">
        <endpoint address="" binding="wsHttpBinding" contract="WcfTestLib.ICallingPatterns">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTestLib/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTestLib.HelloService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfTestLib.IHelloService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTestLib/HelloService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTestLib.CreationPatterns">
        <endpoint address="" binding="wsHttpBinding" contract="WcfTestLib.ICreationPatterns">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTestLib/CreationPatterns/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTestLib.DataStreams">
        <endpoint address="" binding="wsHttpBinding" contract="WcfTestLib.IDataStreams">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTestLib/DataStreams/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTestLib.FilesDbDataSetService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfTestLib.IDataSetUploadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTestLib/DataSetUploadService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTestLib.HttpsHello">
        <endpoint binding="basicHttpsBinding" bindingConfiguration=""
          contract="WcfTestLib.IHelloService" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/Hello" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Legen Sie den Wert unten auf "false" fest, um die Veröffentlichung 
          von Metadateninformationen zu vermeiden, und entfernen Sie den Metadatenendpunkt oben vor der Bereitstellung. -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Damit in Fehlern Ausnahmedetails zum Debuggen angezeigt werden, 
          legen Sie den Wert unten auf "true" fest. Legen Sie ihn vor der Bereitstellung auf "false" fest, 
          um die Veröffentlichung von Ausnahmeinformationen zu vermeiden. -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
