<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WcfDataSetLib.Properties.Settings.FileFeaturesDbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FileFeaturesDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="KeplerBIEntities" connectionString="metadata=res://*/KeplerBI.csdl|res://*/KeplerBI.ssdl|res://*/KeplerBI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localhost)\Projectsv12;initial catalog=KeplerBI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="NewListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\trac\projekt\lernen-dot-net\2014-12-15-pcc-WCF\MyTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' für .NET 4.5 finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für das <httpRuntime>-Tag festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" />
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0" />
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingWithCookies" allowCookies="true" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpBinaryBinding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="netTcpBindingDataStreams" maxBufferSize="65536"
          maxReceivedMessageSize="100000000">
          <readerQuotas maxArrayLength="100000000" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpWithCookies" allowCookies="true">
          <reliableSession enabled="true" />
        </binding>
        <binding name="wsHttpBindingForBlobs" maxReceivedMessageSize="100000000">
          <readerQuotas maxArrayLength="100000000" maxBytesPerRead="100000000" />
        </binding>
      </wsHttpBinding>
      <ws2007HttpBinding>
        <binding name="wsHttp2007BindingWithCookies" allowCookies="true" />
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcfTestLib.CallingPatterns" name="WcfTestLib.CallingPatterns">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpWithCookies"
          name="EPwithWsHttpBinding" contract="WcfTestLib.ICallingPatterns" />
      </service>
      <service name="WcfTestLib.CreationPatternPerCall">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpWithCookies"
          name="EPCreationPatternPerCall" contract="WcfTestLib.ICreationPatterns" />
      </service>
      <service name="WcfTestLib.CreationPatternPerSession">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpWithCookies"
          name="EPCreationPatternPerSession" contract="WcfTestLib.ICreationPatterns" />
      </service>
      <service name="WcfTestLib.CreationPatternSingle">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpWithCookies"
          name="EPCreationPatternSingle" contract="WcfTestLib.ICreationPatterns" />
      </service>
      <service name="WcfTestLib.FilesDbDataSetService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpBindingForBlobs"
          contract="WcfTestLib.IDataSetUploadService" />
      </service>
      <service name="WcfTestLib.DataStreams">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpBindingForBlobs"
          contract="WcfTestLib.IDataStreams" />
        <endpoint address="mex" binding="wsHttpBinding" bindingConfiguration=""
          name="EPDataStreamsMex" contract="IMetadataExchange" />
      </service>
      <service name="CBService.CreateCBSys">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="wsHttp2007BindingWithCookies"
          name="CreateCBSysEP" contract="CBService.ICreateCBSys" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="WcfTestLib.CallingPatterns">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="WcfTestLib.DataStreams">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization />
          <serviceMetadata />
        </behavior>
        <behavior name="CreateCBSysEP">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mko" publicKeyToken="f4d93f46e53e0656" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.5.0" newVersion="7.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="mko.Algo" publicKeyToken="f4d93f46e53e0656" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>