<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mko" publicKeyToken="f4d93f46e53e0656" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.1.0" newVersion="7.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileSysWcf" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56344/SVC/FileSysWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileSysWcf"
        contract="SVC.IFileSysWcf" name="BasicHttpBinding_IFileSysWcf" />
    </client>
  </system.serviceModel>
</configuration>